body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
button{
    border:none;
    background: rgb(24, 114, 167);
    color:white;
    cursor:pointer;
    border-radius: 5px;
}
button:hover {
    background: #005bb5;
  }


  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #333;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}
nav a{
    color: white;
    text-decoration: none;
}



.card-row {
    display: flex;
    gap: 1em;
    padding: 1em;
  }
  .card {
    flex: 1;
    background: #f9f9f9;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .card img {
    max-width: 100%;
    border-radius: 5px;
  }
  .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }


  .grid-layout {
    display: grid;
    grid-template-areas:
      "main sidebar"
      "footer footer"; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto; 
    min-height: 50vh;
  }
  
  
  .grid-main {
    grid-area: main;
    background: #f5f5f5;
    padding: 1em;
  }

  .grid-main img {
    width: 200px;        
    height: auto;      
    border-radius: 10px; 
  }
  
  
  .grid-sidebar {
    grid-area: sidebar;
    background: #ddd;
    padding: 1em;
  }
  
  .grid-footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  

 